<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow blur-dark p-0">
        <div class="container m-w-0 m-0 ms-4 me-4">
            <a class="navbar-brand" asp-area="" asp-page="/Index">Collect It</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item me-4">
                        @await Html.PartialAsync("Dropdowns/_ImagesDropdown")
                    </li>
                    <li class="nav-item me-4">
                        @await Html.PartialAsync("Dropdowns/_MusicDropdown")
                    </li>
                    <li class="nav-item">
                        @await Html.PartialAsync("Dropdowns/_VideoDropdown")
                    </li>
                </ul>
                <a class="nav-link text-center btn-light c-0 rounded-pill p-0 ps-3 pe-3 end-100 h-1" asp-area="" asp-page="Account/Login">Войти</a>
            </div>
        </div>
    </nav>

