@model ProfileAccountViewModel
<div class="text-start">
    <h2 class="h2 pb-2">Профиль</h2>
    <h4 class="h5 pb-2">Сведения об аккаунте</h4>
    <form method="post" enctype="multipart/form-data" class="w-100">
        <div class="border rounded p-3">
            <table class="table table-borderless w-100">
                <tbody>
                <tr class="border-bottom my-2">
                    <td>
                        Имя пользователя
                    </td>
                    <td>
                        <span class="text-muted">
                            @Model.Username
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Почта
                    </td>
                    <td>
                        <span class="text-muted">
                            @Model.Email
                        </span>
                    </td>
                </tr>
                </tbody>
            </table></div>
        <script>
        $(document).ready(function (){
            $('.custom-file-input').on("change", function (){
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        });
    </script>

    </form>
</div>