@model CollectIt.MVC.View.ViewModels.ProfileAccountViewModel

<div class="text-start">
    <h2 class="h2 pb-2">Профиль</h2>
    <h4 class="h5 pb-2">Сведения об аккаунте</h4>
    <form method="post" asp-action="EditAccount" enctype="multipart/form-data" class="w-100">
        <div class="border rounded p-3">
            <table class="table table-borderless w-100">
                <tbody>
                <tr class="border-bottom my-2">
                    <td>
                        <label for="username">Имя пользователя</label>
                    </td>
                    <td>
                        <input asp-for="Username" id="username" class="form-control"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="email">Почта</label>
                    </td>
                    <td>
                        <input asp-for="Email" id="email" class="form-control"/>
                    </td>
                </tr>
                </tbody>
            </table>
            @Html.ValidationSummary(false)
            <input class="btn btn-primary" value="Сохранить" type="submit"/>
        </div>
    </form>
</div>