<div class="w-100 text-start">
    <form method="post" asp-page-handler="OnPostAsync">
        <div class="input-group text-center align-items-center">
            <label for="night-mode" class="col-form-label form-label me-2">
                Ночной режим
            </label>
            <input type="checkbox" id="night-mode" name="night" class="custom-checkbox rounded s-ch">
        </div>
        <div class="input-group text-center align-items-center">
            <label for="notifications" class="col-form-label me-1">
                Уведомления
            </label>
            <input type="checkbox" id="notifications" name="night" class="custom-checkbox rounded s-ch" checked="checked">
        </div>
        <div>
            <label for="add" class="col-form-label">
                Дополнительная информация
            </label>
            <textarea type="email" name="add" id="add" class="form-control form-text"></textarea>
        </div>
        <button class="btn btn-primary rounded m-1">
            Сохранить
        </button>
    </form>
    </div>