<form method="post" asp-page-handler="OnPostAsync">
    <div>
        <label for="night" class="col-form-label">Ночной режим:</label>
        <input type="checkbox" name="night" class="custom-checkbox rounded s-ch">
    </div>
    <div>
        <label for="night" class="col-form-label">Уведомления:</label>
        <input type="checkbox" name="night" class="custom-checkbox rounded s-ch" checked="checked">
    </div>
    <div>
        <label for="add" class="col-form-label">Дополнительная информация:</label>
        <textarea type="email" name="add" id="add" class="form-control"></textarea>
    </div>
    <button class="btn-primary rounded border-0 mt-2 pl-2 pr-2 pt-1 pb-1 wi-1 m-a">Сохранить</button>
</form>