@model CollectIt.MVC.View.ViewModels.AccountResourcesViewModel

<div class="d-flex justify-content-center">
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="">№</th>
            <th>Название</th>
            <th>Дата покупки</th>
            <th>Тип ресурса</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @{ var type = ""; };
        @foreach (var (resource, i) in Model.Resources
                                                .OrderBy(s => s.Date)
                                                .Select((s, i) => ( s, i )))
        {
            if (resource.Extension == "jpg")
                type = "Images";
            if (resource.Extension == "mp3")
                type = "Musics";
            if (resource.Extension == "webm")
                type = "Videos";
            
            <tr onclick="window.location='../Musics/@resource.Id'" role="button">
            <td>
                    @(i + 1)
                </td>
                <td>
                    @resource.FileName
                </td>
                <td>
                    @resource.Date.ToString("D")
                </td>
                <td>
                    @type
                </td>
                <td>
                </td>
            </tr>
        }
        </tbody>
    </table></div>