@model AccountResourcesViewModel

<div class="d-flex justify-content-center">
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="">№</th>
            <th>Название</th>
            <th>Дата покупки</th>
            <th>Тип ресурса</th>
            <th>Ссылка на изображение</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var (resource, i) in Model.Resources
                                                .OrderByDescending(s => s.AcquireDate)
                                                .Select((s, i) => ( s, i )))
        {
            <tr>
                <td>
                    @(i + 1)
                </td>
                <td>
                    @resource.FileName
                </td>
                <td>
                    @resource.AcquireDate.ToString("D")
                </td>
                <td>
                    @if (resource.Extension == "jpg")
                    {
                        <div>Изображение</div>
                    }
                </td>
                <td>
                    <a href ="../Images/@resource.Id">Images/@resource.Id</a>
                </td>
            </tr>
        }
        </tbody>
    </table></div>