@model AccountResourcesViewModel

<div class="d-flex justify-content-center">
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="">№</th>
            <th>Название</th>
            <th>Дата покупки</th>
            <th>Тип ресурса</th>
            <th>Загрузка</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var (resource, i) in Model.Resources
                                                .OrderBy(s => s.AcquireDate)
                                                .Select((s, i) => ( s, i )))
        {
            <tr onclick="window.location='../Images/@resource.Id'" role="button">
            <td>
                    @(i + 1)
                </td>
                <td>
                    @resource.FileName
                </td>
                <td>
                    @resource.AcquireDate.ToString("D")
                </td>
                <td>
                    @if (resource.Extension == "jpg")
                    {
                        <div>Изображение</div>
                    }
                </td>
                <td>
                    <button class="btn-success">
                        <a class="text-decoration-none text-white" href="@resource.Address" download>Скачать</a>
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table></div>