@using CollectIt.Database.Entities.Resources
@model CollectIt.MVC.View.Views.Shared.Components.ImageCards.ImageCardsViewModel
@{
    var g = 0;
    var k = (int)Math.Ceiling((double)Model.Images.Count / 3);
    if (Model.Images.Count % 3 == 1)
    {
        g = 1;
    }
    else if (Model.Images.Count % 3 == 2)
    {
        g = 2;
    }
}
<!-- m-0 p-0 mb-2 -->
<div class="d-flex">
    @for (var i = 0; i < 3; i++)
        {
            var temp = new List<Image>();
            if (g == 1 && i == 1)
            {
                temp = Model.Images.Skip(i * k).ToList().GetRange(0,k - 1);
            }
            else if (g == 2 && i != 1)
            {
                temp = Model.Images.Skip(i * k).ToList().GetRange(0,k-1);
            }
            else
            {
                temp = Model.Images.Skip(i * k).ToList().GetRange(0,k);
            }
            
            <div class="resources-box">
            @foreach (var image in temp)
            {
                <vc:image-card image="@image"/>
            }
            </div> 
        }
</div>
    