<div class="dropdown me-2">
    <a class="nav-link text-center btn-light transparent text-blur rounded border-0 btn-info dropdown-toggle h-2 p-2 wh-0" 
       data-toggle="dropdown" title="Инструменты администрирования"><i class="fa-solid fa-toolbox"></i></a>
    <ul class="dropdown-menu mt-0 nav-blur s-2 mi-w-0 p-0">
        <li>
            <a class="nav-link text-center btn-light transparent text-blur p-0" asp-area=""
               asp-controller="Account" asp-action="ResourceEdit" title="Редактирование ресурсов">
                <i class="fa-solid fa-pen-to-square"></i>
            </a>
        </li>
        <li>
            <a class="nav-link text-center btn-light transparent text-blur p-0" asp-area=""
               asp-controller="Account" asp-action="ProfileEdit" title="Редактирование пользователей">
                <i class="fa-solid fa-user-pen"></i>
            </a>
        </li>
    </ul>
</div>
