@using CollectIt.Database.Entities.Account
<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - CollectIt.MVC.View</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/colors.css" asp-append-version="true"/>
    <link href="~/lib/fontawesome-free-6.0.0-web/css/all.css" rel="stylesheet">
    @* ReSharper disable once Html.PathError *@
    @* This is not error *@
    <link rel="stylesheet" href="~/CollectIt.MVC.View.styles.css"/>
</head>
<body id="banner" class="h-100 body">

<header class="bg-light px-1 py-2">
    @await Html.PartialAsync("_Navbar")
</header>


<main role="main" class="container">
    <div class="p-3 h-100">
        @RenderBody()
    </div>
</main>

<footer class="footer bg-light text-muted border-top">
    <div class="container py-3 text-start">
        &copy; 2022 - CollectIt - <a asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>