@model PaymentResultViewModel

@{
    Layout = null;
    ViewData["Title"] = "Результат операции";
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/css/colors.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/View.styles.css" asp-append-version="true"/>
    <link href="~/lib/fontawesome-free-6.0.0-web/css/all.css" rel="stylesheet">
}
<script>
  setTimeout( 'location="/"', 5000 );
</script>
<div>
    <main class="d-flex justify-content-center align-items-center" style ="margin-top: 200px">
        <div class="w-75 p-3 bg-white shadow rounded">
            @if (Model.Success)
            {
                <h2 class ="text-center">Поздравляем с оформлением подписки</h2>
                <img width="150" height="150" class="mb-lg-4 mx-auto d-block" alt="Успешное оформление" src = "img/accept.jpg"/>
            }
            else
            {
                <h2 class="text-center">Подписка не оформлена</h2>
                <h3 class="text-center">Причина: @Model.ErrorMessage</h3>
                <img width="150" height="150" class="mb-lg-4 mx-auto d-block"src = "img/decline.jpg" alt="Подписка не оформлена"/>
            }
            <div class ="text-center"> Через 5 секунд вы будете перенаправлены на главную страницу</div>
        </div>
    </main>
</div>