@model PaymentPageViewModel

@{
    Layout = "_PaymentLayout.cshtml";
}

<!DOCTYPE html>

<html lang="ru" class="h-100 bg-light">
<head>
    <title>Оплата подписки</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css"/>
</head>
<body class="h-100">
<main class="d-flex justify-content-center align-items-center">
    <div class="p-3 bg-white shadow rounded">
        <div>
            <p>Хотите оформить подписку "@Model.Subscription.Name"?</p>
            </div>
        <div class="d-inline-flex justify-content-around">
            <form method="post" asp-action="SubscribeLogic" asp-antiforgery="true">
                <input name="subscriptionId" value="@Model.Subscription.Id" type="hidden" readonly="readonly"/>
                <input name="declined" value="false" type="hidden"/>
                <button type="submit" class="btn btn-success">Да</button>
            </form>
            &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
            <form method="post" asp-action="SubscribeLogic" asp-antiforgery="true">
                <input name="declined" value="true" type="hidden" readonly="readonly"/>
                <button type="submit" class="btn btn-danger">Нет</button>
            </form>
        </div>
    </div>
</main>
</body>
</html>