@{
    Layout = "_SubscriptionsLayout";
}


<body>
<div class="row">
    <div class="block-subs">
        <div class="block-subs-text">
            <b>По запросу</b>
        </div>
    </div>
    <div class="block-subs">
        <div class="block-subs-text">
            <b>FLEX</b>
        </div>
    </div>
    <div class="block-bestsub">
        <div class="block-subs-text">
            <b>Специалисты</b>
        </div>
    </div>
    <div class="block-subs">
        <div class="block-subs-text">
            <b>Бизнес</b>
        </div>
        </div>
        <div class="block-subs">
            <div class="block-subs-text">
                <b>Enterprise</b>
            </div>
            </div>
</div>
</body>