<div class="dropdown">
    <a class="nav-link text-center btn-light transparent rounded border-0 btn-info dropdown-toggle" data-toggle="dropdown">Изображения</a>
    <ul class="dropdown-menu mt-0">
        <li><a class="nav-link text-center btn-light" asp-area="" asp-page="">Изображения: Главная</a></li>
        <li><a class="nav-link text-center btn-light" asp-area="" asp-page="">Тематические Коллекции</a></li>
        <li><a class="nav-link text-center btn-light" asp-area="" asp-page="">Фотографии</a></li>
        <li><a class="nav-link text-center btn-light" asp-area="" asp-page="">Векторные изображения</a></li>
    </ul>
</div>