<div class="dropdown">
    <a class="nav-link text-center btn-light transparent rounded border-0 btn-info dropdown-toggle p-0 ps-2 pe-2" data-toggle="dropdown">Музыка</a>
    <ul class="dropdown-menu mt-0 nav-blur">
        <li><a class="nav-link text-center btn-light" asp-area="" asp-page="">Музыка: Главная</a></li>
        <li><a class="nav-link text-center btn-light" asp-area="" asp-page="">Металл</a></li>
        <li><a class="nav-link text-center btn-light" asp-area="" asp-page="">Рэп</a></li>
        <li><a class="nav-link text-center btn-light" asp-area="" asp-page="">Рок</a></li> 
    </ul>
</div>