<div class="dropdown">
    <a class="nav-link text-center btn-light transparent rounded border-0 btn-info dropdown-toggle" data-toggle="dropdown">Видео</a>
    <ul class="dropdown-menu mt-0 nav-blur">
        <li><a class="nav-link text-center btn-light" asp-area="" asp-page="">Видео: Главная</a></li>
        <li><a class="nav-link text-center btn-light" asp-area="" asp-page="">Тематические Коллекции</a></li>
        <li><a class="nav-link text-center btn-light" asp-area="" asp-page="">Короткометражки</a></li>
        <li><a class="nav-link text-center btn-light" asp-area="" asp-page="">Кино</a></li>
    </ul>
</div>