@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>ОШИБКА</title>
</head>
<body>
<div>
      ТЫ КОНКРЕТНО ОШИБСЯ, ДРУЖОК-ПИРОЖОК, клуб любителей вводить не те айди в url на 2 ссылки ниже
</div>
</body>
</html>