@using CollectIt.Database.Entities.Account
@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="h-100 d-flex justify-content-center align-items-center">
    <div class="w-100">
        <vc:search-bar/>
    </div>
</div>