@{
    ViewData["Title"] = "Home Page";
}

<div class="size-1 preview rounded-4">
    <a asp-area="" asp-controller="Resource" asp-action="Image"><img src="img/4a5b6801-9341-48cf-9b1d-f7c377933422_aaaa.jpg" class="img-fluid rounded-4" alt=""/></a>
    <div class="toolbar blur-dark row m-0 p-1 flex-row-reverse">
        <div class="s-a p-0 mb-1">
            <button class="tool border-0 blur rounded-circle wh-0" data-tooltip="Скачать"><i class="fa-solid fa-download"></i></button>
        </div>
        <div class="s-a p-0 mb-1 me-1">
            <button class="tool border-0 blur rounded-circle wh-0" data-tooltip="Понравилось"><i class="fa-regular fa-heart"></i></button>
        </div>
        <div class="s-a p-0 mb-1 me-1">
            <button class="tool border-0 blur rounded-circle wh-0" data-tooltip="Похожее"><i class="fa-solid fa-clone"></i></button>
        </div>
    </div>
</div>